volumes:
  postgres-flyway-poc:

services:
  postgres:
    image: postgres:18-alpine
    container_name: student-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5431:5432"
    volumes:
      - postgres-flyway-poc:/var/lib/postgresql/18/docker

